Repository DIVYASREE345/chinook, pull requests merged in 2021-03, with the labels that each got.

#2 artists backend
  api/artists/controllers.js
Labels: artists, backend

#6 Add Playlists
  api/playlists/controllers.js
  api/tracks/controllers.js
Labels: backend, playlists

#4 tracks backend
  api/tracks/controllers.js
Labels: backend, tracks

#8 adding ui
  client/index.html
  client/style.css
  package-lock.json
  package.json
Labels: user-interface

#9 added Get One code for Albums
  api/albums/controllers.js
Labels: enhancement
